
.btn{
    display: inline-block;
    border: none;
    outline: none;
    font-size: 1.125rem;
    line-height: 1.7777777em;
    padding: 0.8125rem 1.5625rem;
    background-color: lightgray;
    border-radius: none;
    cursor: pointer;
    vertical-align: text-bottom;
    font-weight: 600;
    color: $white;
    transition: background-color .2s linear , color .2s linear;
    text-align: center;

}