.hero{
    &__img--left{
        right: calc(50% + 550px);
        @include mq($tablet-breakpoint){
            right: calc(50% + 297px);
        }
        img{
            transform: scale(1.18);
        }
    }

    &__img--right{
        left: calc(50% + 604px );
        @include mq($tablet-breakpoint){
            left: calc(50% + 320px);
        }
        img{
            transform: scale(1.2);
        }
    }
}